/* IMPORTS STYLES USED FOR SITE */
@import url(asset-path("tinymce/skins/lightgray/skin.min.css"));
@import url(asset-path("tinymce/skins/lightgray/content.min.css"));
@import url(asset-path("application.css"));

body.mce-content-body {
  margin: 20px;
}

html, body {
  background-image: none !important;
  background-color: white;
}
